/* .product-item-box {
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr);
  align-items: left;
  gap: 12px;
  padding: 10px;
}


.product-item-box * {
    margin: 0 10px;
    font-size: large;
} */

.bg-row {
  background-color: rgb(139, 207, 217); /* Your custom hex code */
}